header {
    background: linear-gradient(0deg, #b8d7d2  30%, #1b6c73 70%);
    text-align: center;
    &:hover{
        background: linear-gradient(0deg, #b8d7d2  10%, #1b6c73 90%);
    }
}
a {
    text-decoration: none;
    color: map-get($map: $colors, $key: enlace);
}
.title{
    text-align: center;
    padding: 1% 0;
    margin-bottom: 0rem;
}